/* Utilities */
/* Voy a importar mi variables */
/* nav */
header {
  text-align: center;
}

.navbar li {
  padding: 20px;
}
.navbar a {
  color: white;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

.navbar button {
  background-color: white;
}

.container-fluid {
  align-items: flex-end;
  flex-direction: row-reverse;
}

.navbar-nav .nav-link {
  color: whitesmoke;
}

.nav-tog {
  background-color: white;
  box-shadow: none;
}

.activo, a:hover {
  border-bottom: 1px solid white;
}

.nav-item {
  padding: 0px 20px;
}

.nav-link {
  color: aliceblue;
}
.nav-link:hover {
  border-bottom: 1px solid rgb(97, 97, 97);
  padding-bottom: 1px;
}

.button {
  display: block;
  width: 20%;
  height: 50px;
  margin: auto;
  border-radius: 10px;
}

.boton-reserva {
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5px;
  border: solid 1px;
  margin: 100px 20px 50px 0px;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.766);
}

.boton-reserva:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  color: white;
  background-color: rgb(6, 121, 77);
  padding: 5px;
}

/* nosotros */
.icono {
  margin: 0px 80px;
}

.icono > img {
  height: 70px;
}

.reserva p {
  background-color: rgba(185, 181, 181, 0.627);
  width: 60%;
  margin: 10px auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

.parrafo {
  text-align: center;
}
.parrafo p {
  text-align: center;
  color: white;
  max-width: 80%;
  margin: 80px auto;
  font-size: 1.5em;
}

.contacto {
  display: flex;
  margin: 200px auto;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.contacto span {
  padding: 10px;
  color: aliceblue;
}

.form-nosotros {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  align-items: center;
  background-color: aliceblue;
  padding: 15px;
  max-height: 100%;
  max-width: 80%;
}
.form-nosotros label {
  margin: 5px;
  color: rgb(0, 0, 0);
}
.form-nosotros input {
  margin: 5px;
  padding: 1px;
  border-radius: 2px;
  border: solid 2px rgb(7, 7, 68);
  max-width: 80%;
  width: 30%;
}

.button-nosotros {
  font-weight: bold;
  margin: 60px;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  max-width: 60%;
}

/* formulario  */
.datos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.formulario {
  margin: 5px auto;
  padding: 15px;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  max-width: 80%;
  align-items: center;
  gap: 15px;
  height: 600px;
}
.formulario form {
  width: 80%;
  font-family: "Poppins", sans-serif;
  color: white;
}

.comentario {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

textarea {
  width: 100%;
  margin: 10px auto;
  display: block;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  border-radius: 6px;
  background-color: #15284f;
  border: 2px solid white;
}

textarea:focus {
  color: rgb(0, 255, 255);
  background-color: #212121;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: 0.1s;
  transition-property: box-shadow;
}

.input-form {
  border-radius: 4px;
  background-color: #15284f;
  height: 40px;
  padding: 10px;
  border: 2px solid white;
  display: block;
  width: 100%;
}

.input-form:focus {
  color: rgb(0, 255, 255);
  background-color: #212121;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: 0.1s;
  transition-property: box-shadow;
}

.button-form {
  background-color: #15284f;
  color: white;
  border: 2px solid white;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  transition: 0.5s ease;
  user-select: none;
  width: 100%;
}

.formulario .button-form:hover,
.formulario .button-form:focus {
  color: rgb(79, 235, 249);
  border: 2px solid rgb(0, 255, 255);
}

.direccion {
  height: 400px;
  margin-left: 20px;
}

body {
  background-color: rgb(128, 128, 128);
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: white;
  margin: 15px 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.container-index {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  font-style: normal;
}
.container-index p {
  color: white;
  margin-right: 80px;
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  font-style: italic;
  text-align: center;
  width: 40%;
}

h2 {
  width: calc(100% - 704px);
  margin-right: 1000px;
  background-color: rgb(250, 248, 248);
  padding-left: 105px;
  border-radius: 0px 10px 10px 0px;
  font-weight: bold;
  box-shadow: 11px 5px 0px 0px rgba(157, 156, 156, 0.75);
}

.img-html {
  border-radius: 100px 0px 0px 100px;
  width: 50%;
}

.img-sass {
  position: absolute;
  top: 400px;
  right: 450px;
  width: 20%;
  border-radius: 0px 80px 80px 0px;
}

/*
/*footer  */
footer {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 0.8em;
  padding: 5px;
}

main {
  margin: 5px;
  margin: auto;
}

@media (max-width: 470px) {
  main {
    max-width: 100%;
    width: 100%;
    margin: auto;
    display: inline-block;
    overflow-x: hidden;
  }
  .formulario {
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    max-width: 100%;
    text-align: center;
    justify-content: center;
  }
  .formulario .direccion, .formulario iframe {
    width: 100%;
    height: 500px;
    text-align: center;
    margin: auto;
  }
  .texto-foto {
    margin: auto;
    text-align: center;
  }
  .texto-foto h2 {
    width: calc(80% - 14px);
    margin-right: 1000px;
    background-color: rgb(250, 248, 248);
    padding-left: 80px;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    box-shadow: 11px 5px 0px 0px rgba(157, 156, 156, 0.75);
  }
  .img-sass {
    display: none;
  }
  .img-html {
    width: 90%;
  }
  .container-index {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .container-index p {
    font-size: 30px;
    width: 100%;
  }
  .contacto {
    text-align: center;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: auto;
  }
  .contacto span {
    color: white;
    display: flex;
    text-align: justify;
  }
  .img-habitaciones {
    max-height: 400px;
  }
  .card-habitaciones img {
    max-width: 100%;
    text-align: center;
    margin: 5px;
  }
  .texto-info {
    margin-top: 15px;
  }
  .form-nosotros input {
    width: 80%;
  }
  .button-nosotros {
    display: inline-block;
    width: 80%;
    margin: 25px auto;
  }
  .button-nosotros {
    display: inline-block;
    width: 80%;
    margin: 25px auto;
  }
}
@media (max-width: 1248px) and (min-width: 471px) {
  h2 {
    width: calc(100% - 504px);
    margin-right: 1000px;
    background-color: rgb(250, 248, 248);
    padding-left: 105px;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    box-shadow: 11px 5px 0px 0px rgba(157, 156, 156, 0.75);
  }
  .texto-foto {
    margin: 0 auto;
  }
  .container-index {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0 auto;
  }
  .container-index .img-html {
    width: 80%;
  }
  .container-index .img-sass {
    margin-top: 100px;
    margin-right: 100px;
    width: 30%;
  }
  .container-index p {
    width: 100%;
    margin-top: 10px;
  }
  .contacto {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .contacto .icono {
    text-align: center;
    padding: 10px;
  }
  .contacto span {
    width: 100%;
  }
  .formulario {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px auto;
  }
  .formulario .direccion {
    height: 100%;
  }
  .card-habitaciones {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .card-habitaciones {
    width: 80%;
  }
}
/*  ubicacion  */
.container-blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  max-width: 80%;
  margin: 20px auto;
}

.card-blog {
  width: 18rem;
  display: flex;
  margin: 10px auto;
  text-align: center;
  justify-content: center;
}
.card-blog img {
  border-radius: 5px;
  width: 100%;
}

.card-blog:hover {
  transform: scale(1.02);
}

.texto-blog {
  margin: 30px auto;
  text-align: center;
}
.texto-blog h3 {
  color: white;
}

.texto-blog p {
  color: white;
  max-height: 100%;
}

div .titulo-blog {
  color: white;
  text-align: center;
  margin: auto;
  align-items: center;
  display: block;
  font-size: 50px;
}

.img-habitaciones {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  max-width: 500px;
  background-color: aliceblue;
  margin: 50px 15px;
  width: 470px;
  height: 510px;
}

.texto-info > h3 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.texto-info > p {
  color: black;
  font-family: "Poppins", sans-serif;
}

.img-habitaciones {
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.img-habitaciones:hover {
  transform: scale(1.02);
}

.texto-info {
  color: black;
  font-family: "Poppins", sans-serif;
}

.card-habitaciones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* movil */

/*# sourceMappingURL=style.css.map */
