/* Utilities */

@import 'utilities/maps';
@import 'utilities/mixins';
@import 'utilities/variable';


/* Voy a importar mi variables */
@import  'components/header';
@import  'components/button';
@import  'components/nosotros';
@import  'components/form';
@import  'components/index';
@import  'components/map';
@import  'components/room';

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* movil */


