* {
    box-sizing: border-box;
}
body{
    background-color: rgb(36, 36, 36);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    font-family: 'Poppins', sans-serif;
}


h1{
     color: white;
     margin: 25px;
     font-family: 'Poppins', sans-serif;   
}
.container-fluid{
    
    flex-direction: column-reverse;
    align-content: flex-end;
    
}
.navbar-toggler{
    background-color: white;
    box-shadow: none;
}

.navbar-nav .nav-link {
    color: whitesmoke;

}

li{
padding: 0px 30px;
}

      
.texto-foto p{
    color: white;
    width: 700px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    line-height: 40px;
    font-style: italic;
   
}

.texto-foto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin:  80px auto ; 
    flex-wrap: wrap;
    
}
.texto-foto img {
    margin: auto; 
    text-align: center;
    max-height: 600px;
    
}

/* nav hover */ 
.activo {
    display: inline-block;
    padding-bottom: 2px;
    width: fit-content;
    
}

.activo, a:hover {
    border-bottom: 1px solid white; 
    padding-bottom: 2px; 
    width: fit-content; 
    text-decoration: none;
    
}

/*     contacto     */
/* formulario */

form {
        font-family: 'Poppins', sans-serif;
        color: rgb(255, 255, 255);
        
}
.datos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;      
}
.formulario {
        display: flex;
        flex-direction:column;
        margin: 150px auto;
        background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); 
        height: 500px;
        width: 90%;
        padding: 20px 0px;
}

.comentario {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;    
}

textarea {
        width: 60%;
        margin: 10px auto; 
        display: block;
        padding: 5px;
        font-family: 'Poppins', sans-serif;
        border-radius: 6px;
}
input{
        border-radius: 4px;
    }
    
.button{
    display: block;
    width: 20%;
    height: 50px;
    margin: auto;
    border-radius: 10px;
}




/*  habitaciones   */
.img-habitaciones{
    display: flex;
    flex-direction:column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    max-width: 500px;
    background-color: aliceblue;
    margin: 50px 5px ;
    height: 470px;
   
}
.texto-info > h3 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}
  
.texto-info > p {
    color: black;
    font-family: 'Poppins', sans-serif;
}
  
.img-habitaciones img {
    max-width: 100%;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease-in-out;

}
 
.img-habitaciones img:hover {
    transform: scale(1.02);
  }
  
.texto-info {
    color: black;
    font-family: 'Poppins', sans-serif;
}

.contenedor-habitaciones{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content:center;
    margin: 50px;
}
.boton-reserva {
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    border: solid 1px;
    margin: 100px 20px 50px 0px;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.766);
   
}
  
.boton-reserva:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    color:white;
    background-color: rgb(6, 121, 77);
    padding: 5px;

}
  /* medida card/habitaciones  */
@media (min-width: 363px){
    .img-habitaciones {
      height: 380px;
}
}
@media (min-width: 1023px){
    .img-habitaciones{
        height: 500px;
    }
}

/* nav / index - movil */
@media (max-width:990px){
.navbar> .container-fluid{
    flex-direction: row-reverse;
    align-content: flex-end;
    display: none;
}


.navbar>.container-fluid{
    display: flex;
    justify-content: end;
}
.contacto{
    
    display: flex;
    justify-content: center;
}
}
/* formulario - movil */
@media (max-width: 474px) {
 .texto-foto p {
        font-size: 15px;
        text-align: center;
        padding: 8px;
       
}
.texto-foto img {
        display: flex;
        max-height: 200px;
        margin: 5px auto;
}

form {
        font-family: 'Poppins', sans-serif;
        color: white;
        background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
        border-radius: 10px;
}

.formulario {
        display: flex;
        flex-direction: column;
        margin: 40px auto;
}

.comentario {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
}

textarea {
        width: 80%;
        display: block;
        margin:  5px auto;
        
}
iframe{
 width: 80%;
}
.contacto{
    
    display: flex;
    flex-direction: column;
    align-items:baseline;
    font-size: 12px;
    justify-content: center;
}
}

.formulario div {
    margin: 5px;
    padding-left: 5px;
}
.button{
    display: block;
    width: 20%;
    height: 50px;
    margin: 5px auto ;
    border-radius: 10px;
    
}


/* ubicacion */

.direccion, h2, h3, p {
    text-align: center;
    color: white;
    margin: 10px auto;
}

/*nosotros*/
.contacto{
    margin: 50px 0;
}
.contacto, span {
    text-align: center;
    color: white;
   
}
.icono{
    margin: 0 80px;
    font-family: poppins;
    display: inline;

}

.icono > img{
    
    height: 70px;
    padding: 5px;
   
}


.parrafo{
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    flex-direction:column;
    justify-content:center;
    width: 80%;
    
}
.parrafo > p {
    width: 100%;
    font-size: 20px;
    margin: 100px auto;
    
}
/*  footer   */
footer{
    
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-top: auto;
}
footer span{
    text-align: center;
    font-size: 0.6rem;
    font-family: 'Poppins', sans-serif;
   
}