* {
    box-sizing: border-box;
}
body{
    background-color: rgb(36, 36, 36);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    font-family: 'Poppins', sans-serif;
}


h1{
       color: white;
       margin: 25px;
       font-family: 'Poppins', sans-serif;
      
}
.navbar-toggler{
    background-color: white;
    box-shadow: none;
}

.navbar-nav .nav-link {
    color: whitesmoke;

}

li{
padding: 0px 30px;
}

/*
nav li a{
    text-decoration: none;
    padding: 5px;
    margin: 2px;
    text-align: center;
    align-items: center;
    font-size: 1.2em;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    
   
}
nav ul{
    display: flex;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    
}*/
      
.texto-foto p{
    color: white;
    width: 700px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    line-height: 40px;
    font-style: italic;
   

}

.texto-foto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin:  80px auto ; 
    flex-wrap: wrap;
    
}
.texto-foto img {
    margin: auto; 
    text-align: center;
    display: inline-block;
    max-height: 600px;
    
    
}
footer{
    
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-top: auto;
}
footer span{
    text-align: center;
    font-size: 0.6rem;
    font-family: 'Poppins', sans-serif;
   
}
/* nav hover */ 

.activo {
    display: inline-block;
    padding-bottom: 2px;
    width: fit-content;
    
}

.activo, a:hover {
    border-bottom: 1px solid white; 
    padding-bottom: 2px; 
    width: fit-content; 
    text-decoration: none;
    
}

/* contacto */
.img-contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin: 150px auto 10px ;

}
.img-pieza{
    display: flex;
    flex-direction:row;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1px;
    max-width: 500px;
    background-color: aliceblue;
    margin: 32px ; 
}
.img-pieza img{
    max-width: 100%;
    border-radius: 5px;
}
.contacto  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 50px auto; 
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    flex-wrap: wrap;
}

 .contacto-img {
    display: flex;
    flex-direction: row;
    margin: 2px 100px; 
    align-items: center;
    padding: 5px 1px;
    
}

.contacto img {
    width: 20%;
    max-width: 100px;
    margin: auto 10px ; 
   
}
/* Contacto web */
/* formulario */
@media (min-width: 992px){
form {
        font-family: 'Poppins', sans-serif;
        color: rgb(255, 255, 255);
        
}
.datos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
        
        
}
.formulario {
        display: flex;
        flex-direction:column;
        margin: 150px auto;
        background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); 
        height: 500px;
        width: 90%;
        padding: 20px 0px;
}

.comentario {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        
}

textarea {
        width: 60%;
        margin: 10px auto; 
        display: block;
        padding: 5px;
        font-family: 'Poppins', sans-serif;
        border-radius: 6px;
}
input{
        border-radius: 4px;
    }
    
   .button{
    display: block;
    width: 20%;
    height: 50px;
    margin: auto;
    border-radius: 10px;
   }
.container-fluid{
    
    flex-direction: column-reverse;
    
}

 
}


/*habitaciones*/
.img-habitaciones{
    display: flex;
    flex-direction:column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    max-width: 500px;
    background-color: aliceblue;
    margin: 50px 5px ;
    height: 470px;
   
    
    
}
  
.img-habitaciones img {
    max-width: 100%;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    
    
}

  
.img-habitaciones img:hover {
    transform: scale(1.02);
  }
  
.texto-info {
    color: black;
    font-family: 'Poppins', sans-serif;
}

.contenedor-habitaciones{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content:center;
    margin: 50px;
}
.boton-reserva {
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    border: solid 1px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.766);
   
  }
  
.boton-reserva:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    color:white;
    background-color: black;
    padding: 5px;

}
  /* nav movil */
@media (max-width : 800px){

.texto-foto p {
        font-size: 15px;
        text-align: center;
        padding: 8px;
       
}
.texto-foto img {
        display: flex;
        max-height: 200px;
        margin: 5px auto;
    }
.navbar>.container-fluid{
    display: flex;
    justify-content: end;
}

}
/* formulario - movil */
@media (max-width: 474px) {

form {
        font-family: 'Poppins', sans-serif;
        color: white;
        background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
        border-radius: 10px;
}

    .formulario {
        display: flex;
        flex-direction: column;
        margin: 40px auto;
    }

    .comentario {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    textarea {
        width: 80%;
        display: block;
        margin:  5px auto;
        
    }
}

.formulario div {
    margin: 5px;
    padding-left: 5px;
}
.button{
    display: block;
    width: 20%;
    height: 50px;
    margin: 5px auto ;
    border-radius: 10px;
    
}


/* ubicacion */

.direccion, h2, h3, p {
    text-align: center;
    color: white;
    margin: 10px auto;
}

  

  

/*nosotros*/

.container-nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "parrafo imagen1 imagen1 " 
    "imagen2 imagen3 imagen4";
    text-align: center; 
    align-content: center;
    justify-items: center;
    gap: 25px 5px;
    flex-direction: row; 
    
}


.grid-parrafo{
grid-area: parrafo;
color: white;
font-size: 20px;

}
.grid-imagen1{
    grid-area: imagen1;
    color: white;
    
    
}
.grid-imagen2{
    grid-area: imagen2;
    color: white;
    
    
}
.grid-imagen3{
    grid-area: imagen3;
    color: white;
  
}
.grid-imagen4{
grid-area: imagen4;
color: white;

}