/* nosotros */
.icono{
    margin:0px  80px;
}
.icono > img {
    
    height: 70px;
}
.reserva p{
    background-color: rgba(185, 181, 181, 0.627);
    width: 60%;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    border: 1px solid whitesmoke;
    
    border-radius: 5px;
   

}
.parrafo{
    text-align: center;
    
    p{
        text-align: center;
        color: white;
        max-width: 80%;
        margin: 80px auto;
        font-size: 1.5em;
    }
}
.contacto {
    display: flex;
    margin: 200px auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    span{
        padding: 10px;
        color: aliceblue;
        
    }  
}
.form-nosotros{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: $typography;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(9, 52, 90);
    padding: 15px;
    max-height: 100%;
    max-width: 80%;
    label{
        margin: 5px;
        color: rgb(0, 0, 0);
        
       
    }
    input{
        margin: 5px;
        padding: 1px;
        border-radius: 2px;
        border: solid 2px rgb(7, 7, 68);
        max-width: 80%;
        width: 30%;
       
    
    }
}
.button-nosotros{
    font-weight: bold;
    margin: 60px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    max-width: 60%;
}